*{
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Inter';
}

.navbar--container{
  background: #F55A5A;
  width: 100%;
  height: 56px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar--container>img{
  align-self: center;
}

.navbar--text{
  margin-top: 20px;
  margin-left: 5px;
}